<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxQueryStringLength="327680"/>
  </system.web>
  <system.webServer>
  <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <!--<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>-->

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="sample/"/>
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <!--<rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>-->
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="327680"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>